
# PlanAhead Generated IO constraints 

NET "en[2]" IOSTANDARD = LVCMOS33;
NET "en[1]" IOSTANDARD = LVCMOS33;
NET "en[0]" IOSTANDARD = LVCMOS33;
NET "ss[7]" IOSTANDARD = LVCMOS33;
NET "ss[6]" IOSTANDARD = LVCMOS33;
NET "ss[5]" IOSTANDARD = LVCMOS33;
NET "ss[4]" IOSTANDARD = LVCMOS33;
NET "ss[3]" IOSTANDARD = LVCMOS33;
NET "ss[2]" IOSTANDARD = LVCMOS33;
NET "ss[1]" IOSTANDARD = LVCMOS33;
NET "ss[0]" IOSTANDARD = LVCMOS33;
NET "clk" IOSTANDARD = LVCMOS33;
NET "echo" IOSTANDARD = LVCMOS33;
NET "trigger" IOSTANDARD = LVCMOS33;

# PlanAhead Generated physical constraints 

NET "en[2]" LOC = M13;
NET "en[1]" LOC = L14;
NET "en[0]" LOC = F17;
NET "ss[0]" LOC = L18;
NET "ss[1]" LOC = F18;
NET "ss[2]" LOC = G18;
NET "ss[3]" LOC = K12;
NET "ss[4]" LOC = K13;
NET "ss[5]" LOC = L16;
NET "ss[6]" LOC = L15;
NET "ss[7]" LOC = G16;
NET "clk" LOC = V10;
NET "echo" LOC = B4;
NET "trigger" LOC = A4;
